body {
    background-attachment: fixed;
    background-image: url('../images/michigan-stadium-night-game-.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    text-align: center;
    width: 100%;
}

.inputs-div {
    margin: 15px auto;
    width: 50%;
}

.input-group {
    margin: 25px auto;
}

.input-field {
    margin: 5px auto;
}

select {
    color: #000000;
    width: 70%;
}

#map {
    margin: 5%;
    opacity: .9;
}

.travel {
    background-color: #ffffff;
    color: #000000;
    margin: 5% auto;
    opacity: .9;
    padding: 5px;
    width: 50%;
}

.travel-inputs div {
    display: flex;
    justify-content: center;
    margin: 5px auto;
    text-align: center;
}

.location-input {
    width: 35%;
}

#clear-start {
    background-color: #dd182c;
    border: none;
    border-radius: 3px;
    color: #ffffff;
}

#clear-end {
    background-color: #dd182c;
    border: none;
    border-radius: 3px;
    color: #ffffff;
}