body {
    background-attachment: fixed;
    background-image: url('../images/nebraska-night-game.jpeg');
    background-repeat: no-repeat;
    background-size: cover;    
}

.container {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
    width: 100%;
}

span {
    margin: 5px;
    padding: 3px;
}

#league-div {
    margin-top: 10px;
}

#league-div span {
    border-radius: 12px;
    color: #ffffff;
}

#cfb-span {
    background: #000000;
}

#nfl-span {
    background: #e21c12;
}

#mlb-span {
    background: #1215e2;
}

#nba-span {
    background: #15e212;
}

table {
    background: #ffffff;
    border-collapse: collapse;
    color: #000000;
    text-align: left;
    margin: 0 auto;
}

td {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding-right: 15px;
    position: relative;
}

td span img {
    height: 100%;
    object-fit: cover;
    padding-right: 5px;
    position: absolute;
    width: auto;
}


@media only screen and (max-width: 600px) {
    table {
        font-size: 8px;
    }
}