#picks-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
select {
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
}
#user-select {
    background-color: #474642;
}


#deadline-warning {
    padding-top: 25px;
}

#picks-body {
    font-size: x-small;
    font-weight: 600;
    margin-top: 25px;
}


.logo {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.logo .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#picks-table tr {
    height: 20px;
}
.selection-div {
    border-radius: 30px;
}
.selection-text {
    text-align: center;
    width: 75px;
}
.away-radio {
    float: left;
}
.home-radio {
    float: right;
}


.info-cell span {
    margin: 0 auto;
}
.info-cell {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.info-cell .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info-cell:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


img {
    height: 20px;
}


#save-picks {
    font-size: smaller;
    margin-top: 20px;
}